{% extends 'accounts_receivable/l1_company_selected.html' %}

{% load bootstrap3 %}
{% load decimal_format %}
{% load days_left %}

{% block title %}Cuentas por Cobrar - {{ block.super }}{% endblock %}

{% block body %}
  {{ block.super }}
  <div class='col-xs-12 even-section'>
    <h1>Cuentas por Cobrar</h1>
    {% if items_por_cobrar %}
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Factura</th>
            <th>Total</th>
            <th>Por cobrar</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for item in items_por_cobrar %}
            <tr class="{{ item.days_left|days_left_to_css_class }}">
              <td>{{ item.date.isoformat }}</td>
              <td>{{ item.bill.number }}</td>
              <td>{{ item.qty|price2d }}</td>
              <td>{{ item.amount_left|price2d }}</td>
              <td>
                <a href='{% url 'receivable_claim' item.id %}' class='btn btn-primary'>Cobrar</a>
                <a href='{% url 'receivable_detail' item.id %}' class='btn btn-default'>Detalle</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No hay cuentas por cobrar</p>
    {% endif %}
  </div>

{% endblock %}
