{% extends 'accounts_receivable/l1_company_selected.html' %}

{% load bootstrap3 %}
{% load decimal_format %}
{% load days_left %}
{% load links %}

{% block title %}Cuentas Cobradas - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href='{% url 'received_list' company.id %}'>Cuentas Cobradas</a></li>
{% endblock %}

{% block body %}
  {{ block.super }}
  <div class='col-xs-12 even-section'>
    <h1>Cuentas Cobradas</h1>
    {% if receivable_list %}
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Factura</th>
            <th>Total</th>
            <th>Cobrado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for item in receivable_list %}
            <tr>
              <td>{{ item.date.isoformat }}</td>
              <td>{{ item.bill.get_bill_number }}</td>
              <td>{{ item.qty|price2d }}</td>
              <td>{{ item.total_paid|price2d }}</td>
              <td>{% details_button 'receivable_detail' item.id %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No hay cuentas cobradas</p>
    {% endif %}
    <h1>Cuentas por Cobrar</h1>
    {% fullwidth_button 'Ver cuentas por cobrar' 'accounts_receivable_index' company.id %}
  </div>

{% endblock %}
