{% extends 'accounts_receivable/l1_company_selected.html' %}
{% load bootstrap3 %}
{% load decimal_format %}
{% load links %}

{% block title %}Confirmar cuenta cobrada {{ receivable }} - {{ block.super }}{% endblock %}
{% block body %}
  {{ block.super }}
  <div class='col-xs-12 even-section'>
    <h1>Confirmar cuenta cobrada</h1>
    <p>La cuenta {{ receivable }} ha sido cobrada ({{ receivable.total_paid|price2d }} de {{ receivable.qty|price2d }}). ¿Desea dar de baja la cuenta?
    </p>
    <form method='post' action='.' class='form'>
        {% csrf_token %}
        {% buttons %}
            {% buttons_menu %}
                {% submit_button 'Dar de Baja' %}
                {% button 'No dar de baja' 'receivable_detail' receivable.id %}
            {% endbuttons_menu %}
        {% endbuttons %}
    </form>
  </div>
{% endblock %}
