{% extends 'accounts_receivable/l2_receivable_selected.html' %}
{% load bootstrap3 %}
{% load links %}

{% block title %}Editar Cuenta por Cobrar {{ receivable }} - {{ block.super }}{% endblock %}
{% block body %}
  {{ block.super }}
  <div class='col-xs-12 even-section'>
    <form method='post' action='.' class='form'>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            {% save_button %}
            {% dont_save_button 'receivable_detail' receivable.id %}
        {% endbuttons %}
    </form>
  </div>
{% endblock %}
