{% extends 'billing/l2_bill_selected.html' %}
{% block title_l2 %}Añadir item a factura - {% endblock %}
{% block body_l2 %}
        Number: {{ bill.number }} <br />
        Issued to: {{ bill.issued_to }} <br />
        <h1>Add item</h1>
            <form method='post' action='.'>
            {% csrf_token %}
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            {{ form.as_p }}
            <button type='submit'>Add item</button>
            </form>
        <a href="{% url 'view_bill' company_id bill_id %}">Return</a>
{% endblock %}
