{% load bootstrap3 %}
{% load decimal_format %}

<thead>
  <tr>
    <th class='visible-xs-block visible-sm-block'>&nbsp;</th>
    <th><span class='visible-lg-block visible-xl-block'>Código</span></th>
    <th></th>
    <th class='visible-lg-block visible-xl-block'>Cantidad</th>
    <th>Precio</th>
    <th>Subtotal</th>
    <th class='visible-lg-block visible-xl-block'>Impuestos</th>
    <th></th>
  </tr>
</thead>

<tbody>
{% for item in bill.items %}
    <tr>
        <td class='visible-xs-block visible-sm-block item-qty-popup-edit'
            data-id='{{ item.id }}' data-step='{{ item.increment_qty }}'>
            <span class='qty-value'>{{ item.qty|qty }}</span>
            <span class='glyphicon glyphicon-pencil'></span>
        </td>
        <td>{{ item.code }}</td>
        <td>{{ item.name }}</td>
        <td class='visible-lg-block visible-xl-block item-inline-edit'
            data-id='{{ item.id }}' data-step='{{ item.increment_qty }}'
            data-field='qty'>
            <span class='value'>{{ item.qty|qty }}</span>
            <span class='glyphicon glyphicon-pencil'></span>
        </td>
        <td>{{ item.unit_price|price4d }}</td>
        <td class='item-inline-edit'
            data-id='{{ item.id }}' data-step='0.01'
            data-field='discount'>
            $<span class='value'>{{ item.total_sin_impuestos|decimals:2 }}</span>
            {% if item.discount %}
                <span class='text-danger'>(descuento: {{ item.discount|money_2d }})</span>
            {% endif %}
            <span class='glyphicon glyphicon-pencil'></span>
        </td>
        <td class='visible-lg visible-xl'>{{ item.total_impuestos|price2d }}</td>
        <td>
            {% buttons %}
            <form action="{% url 'billitem_delete' item.id %}" method='post'>
                {% csrf_token %}
                <a href="{% url 'billitem_update' item.id %}"
                   class='btn btn-default'>
                    <span class='glyphicon glyphicon-pencil'></span>
                </a>
                <button type='submit' class='btn btn-danger'>
                    <span class='glyphicon glyphicon-remove'></span>
                </button>
            </form>
            {% endbuttons %}
        </td>
    <tr/>
{% empty %}
    <tr>
        <td colspan='6'>No hay artículos</td>
    <tr/>
{% endfor %}
</tbody>
