{% extends 'billing/l2_bill_selected.html' %}
{% load bootstrap3 %}
{% load links %}

{% block title %}Eliminar Factura {{ bill }} - {{ block.super }}{% endblock %}
{% block body %}
    {{ block.super }}
    <form action="." method="post" class='form'>{% csrf_token %}
        <p>¿Está seguro de querer eliminar "{{ bill }}"?</p>
        {% buttons %}
            {% buttons_menu %}
                {% delete_button %}
                {% dont_delete_button 'bill_detail' bill.id %}
            {% endbuttons_menu %}
        {% endbuttons %}
    </form>
{% endblock %}
