{% extends 'billing/l2_bill_selected.html' %}
{% load bootstrap3 %}
{% load links %}

{% block title %}Editar Factura {{ bill.number }} - {{ block.super }}{% endblock %}
{% block body %}
    {{ block.super }}
<div class='col-xs-12'>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a {% if bill.issued_to.razon_social != 'CONSUMIDOR FINAL' %}class='collapsed'{% endif %}
           role="button" data-toggle="collapse" data-parent="#accordion"
           href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Consumidor Final
        </a>
      </h4>
    </div>
    <div id="collapseOne"
         class="panel-collapse collapse
         {% if bill.issued_to.razon_social == 'CONSUMIDOR FINAL' %}in{% endif %}
         "
         role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <table class='table'>
            <tr><th>Cliente</th><td>CONSUMIDOR FINAL</td></tr>
            <tr><th>RUC</th><td>9999999999999</td></tr>
        </table>
        <form method='post' action='.' class='form'>
            {% csrf_token %}
            <input type='hidden' name='cons_final' value='True' />
            {{ form.issued_to.as_hidden }}
            {% buttons %}
                {% buttons_menu %}
                    {% save_button %}
                    {% dont_save_button 'bill_detail' bill.id %}
                {% endbuttons_menu %}
            {% endbuttons %}
        </form>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a 
           {% if bill.issued_to.razon_social == 'CONSUMIDOR FINAL' or not bill.issued_to %}
                class="collapsed"
           {% endif %}
           role="button" data-toggle="collapse" data-parent="#accordion"
           href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Con Datos
        </a>
      </h4>
    </div>
    <div id="collapseTwo"
         class="panel-collapse collapse
         {% if bill.issued_to.razon_social != 'CONSUMIDOR FINAL' %}in{% endif %}
         "
         role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <form method='post' action='.' class='form'>
            {% csrf_token %}
            <input type='hidden' name='cons_final' value='False' />
            {% bootstrap_form form %}
            {% buttons %}
                {% buttons_menu %}
                    {% save_button %}
                    {% primary_button 'Introducir Datos' 'bill_new_customer' bill.id %}
                    {% dont_save_button 'bill_detail' bill.id %}
                {% endbuttons_menu %}
            {% endbuttons %}
        </form>
      </div>
    </div>
  </div>

</div>



</div>
{% endblock %}
