{% extends 'billing/l1_company_selected.html' %}
{% load bootstrap3 %}
{% load links %}

{% block title %}{{ object_name }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href='{% url 'bill_company_index' company.id %}'>Facturas</a></li>
    <li><a href='{{ request.get_full_path }}'>{{ object_name }}</a></li>
{% endblock %}

{% block body %}
    {{ block.super }}
    <div class='col-xs-12'>
        <h1>{{ object_name }}</h1>
        {% include 'billing/bill/bill_list_table.html' %}
        {% buttons %}
            {% buttons_menu %}
                {% button 'Pre Facturas' "bill_company_index" company.id %}
                {% button 'Facturas listas para enviar' "bill_company_index.ready_to_send" company.id %}
                {% button 'Facturas enviadas' "bill_company_index.sent" company.id %}
                {% button 'Facturas aceptadas' "bill_company_index.accepted" company.id %}
                {% button 'Facturas anuladas' "bill_company_index.annulled" company.id %}
            {% endbuttons_menu %}
        {% endbuttons %}
    </div>
{% endblock %}
