{% extends 'billing/l2_bill_selected.html' %}
{% load bootstrap3 %}
{% load decimal_format %}
{% load links %}

{% block title %}Ver Factura {{ bill }} - {{ block.super }}{% endblock %}

{% block left_menu %}
    <li><a href="{% url 'bill_create' punto_emision.id %}">Nueva Factura</a></li>
    <li><a href="{% url 'bill_delete' bill.id %}" class='btn-danger' >Eliminar Factura</a></li>
{% endblock %}

{% block body %}

<style>
.spacer {
    margin-top: 15px;
}
</style>

{{ block.super }}

<div class='col-xs-12 even-section'>
    <h1>Enviar Proforma al Cliente</h1>
    <form action='.' method='post' class='form'>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            {% buttons_menu %}
                {% submit_button 'Enviar Proforma por Email' %}
                {% back_button 'No Enviar' 'bill_detail' bill.id %}
            {% endbuttons_menu %}
        {% endbuttons %}
    </form>
</div>

{% endblock %}
