{% extends 'billing/l1_company_selected.html' %}
{% load bootstrap3 %}
{% load decimal_format %}
{% block title %}Facturas - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href='{% url 'bill_company_index' company.id %}'>Facturas</a></li>
{% endblock %}

{% block body %}
    {{ block.super }}
    <div class='col-xs-12'>
        <h1>Facturas</h1>
        <table class='table table-hover'>
            <thead><tr>
              <th>Identificador</th>
              <th>Cliente</th>
              <th>Total</th>
              <th>Estado</th>
              <th></th>
              <th></th>
            </tr></thead>
            <tbody>
              {% for bill in bill_list %}
                <tr>
                  <td>{{ bill.number }}</td>
                  <td>{% firstof bill.issued_to '<span class="text-danger">No hay cliente establecido</span>' %}</td>
                  <td>{{ bill.total|price2d }}</td>
                  <td>{{ bill.status }}</td>
                  <td>
                    {% object_details_button bill %}
                  </td>
                  {% if bill.get_progress_url %}
                      <td>
                        <form action='{{ bill.get_progress_url }}' method='POST' class='form'>
                            {% csrf_token %}
                            {% submit_button 'Procesar' %}
                        </form>
                      </td>
                  {% endif %}
                </tr>
              {% endfor %}
              {% if show_all_items_button %}
                  <tr>
                      <td colspan='10'>
                          {% fullwidth_button 'Ver todas las facturas' "bill_company_index" company.id %}
                      </td>
                  </tr>
              {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

