{% load bootstrap3 %}
{% load decimal_format %}

  {% for payment in bill.payment %}
    <tr>
      <td>{% if exact_payment_date %}
          {{payment.date}} ( {{ payment.plazo_pago.descripcion }} )
          {% else %}
          {{ payment.plazo_pago.descripcion }}
          {% endif %}
      </td>
      <td>{{ payment.cantidad|price2d }} ({{ payment.porcentaje | floatformat:0 }}%)</td>
      <td>{{ payment.forma_pago.descripcion }}</td>
    </tr>
  {% empty %}
    <tr>
      <td colspan='3'>No hay condiciones de pago especificadas</td>
    </tr>
  {% endfor %}
