{% extends 'billing/l2_bill_selected.html' %}
{% load bootstrap3 %}

{% block title %}Editar Item en Factura {{ bill }} - {{ block.super }}{% endblock %}
{% block body %}
    {{ block.super }}
    <form method='post' action='.' class='form'>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type='submit' class='btn btn-primary'>Guardar</button>
            <a href='{% url 'bill_detail' bill.id %}' class='btn btn-default'>Cancelar</a>
        {% endbuttons %}
    </form>
{% endblock %}
