{% extends 'billing/l2_bill_selected.html' %}
{% load bootstrap3 %}
{% load decimal_format %}

{% block title %}Ver Factura {{ bill }} - {{ block.super }}{% endblock %}


{% block body %}
    {{ block.super }}
    <div class='col-xs-12'>
        <h2>Emitir Factura</h2>
        <p>Por favor, compruebe los datos de la factura.</p>
        {% if msgs %}
            <h3>Hubo errores en la factura</h3>
            {% for msg in msgs %}
                <p>
                {{ msg.tipo }}, {{ msg.identificador }}, {{ msg.mensaje }}, {{ msg.informacionAdicional }}
                </p>
            {% endfor %}
        {% endif %}

        <h3 class='spaced-top'>Cliente</h3>
        <table class='table table-bordered'>
            <tr>
                <th>Numero</th><td>{{ bill.number }}</td>
            </tr>
            <tr>
                <th>Cliente</th><td>({{ bill.issued_to.tipo_identificacion }}) {{ bill.issued_to.identificacion }} </td>
            </tr>
            <tr>
                 <th></th><td>{{ bill.issued_to.razon_social }}</td>
            </tr>
            <tr>
                <th>Fecha</th><td>{{ bill.date }}</td>
            </tr>
        </table>

        <h3 class='spaced-top'>Detalle</h3>
        <table class='table table-bordered'>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>
                <th>Subtotal</th>
            </tr>
        {% for item in bill.items %}
            <tr>
                <td>{{ item.code }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.qty|qty }}</td>
                <td>{{ item.unit_price|floatformat:4 }}</td>
                <td>{{ item.base_imponible_iva|floatformat:2 }}</td>
            <tr/>
        {% endfor %}
        </table>

        <h3 class='spaced-top'>Totales</h3>
        <table class='table table-bordered'>
            <tr>
                <th>Subtotal IVA 12%</th><td>{{ bill.subtotal.12|floatformat:2 }}</td>
            </tr>
            <tr>
                <th>Subtotal IVA 0%</th><td>{{ bill.subtotal.0|floatformat:2 }}</td>
            </tr>
            <tr>
                <th>IVA 12%</th><td>{{ bill.iva.12|stringformat:".2f" }}</td>
            </tr>
            <tr>
                <th>Total a pagar</th><td>{{ bill.total|stringformat:".2f" }}</td>
            </tr>
        </table>

        <h3 class='spaced-top'>Pago</h3>
        <table class='table table-bordered'>
            <thead>
                <tr>
                    <th>Fecha</th><th>Cantidad</th><th>Forma</th>
                </tr>
            </thead>
            <tbody>
                {% include "billing/bill_detail_payment_table.html" %}
            </tbody>
        </table>

        <form action='.' method='post' class='form spaced-bottom'>
            {% csrf_token %}
            {% buttons %}
                <button type='submit' class='btn btn-primary col-xs-6'>Emitir Factura</button>
                <a href='{% url 'bill_detail' bill.id %}' class='btn btn-default col-xs-6'>Cancelar</a>
            {% endbuttons %}
        </form>
    </div>

{% endblock %}
