{% extends 'billing/l1_company_selected.html' %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href='{#% FIXME url 'report_index' company.id %#}'>Items</a></li>
{% endblock %}

{% block body %}
    {{ block.super }}
    <h1>Facturas emitidas: {{day}}/{{month}}/{{year}}</h1>
    {% for bill in bill_list %}
        Número: {{ bill.number }} <br />
        Fecha: {{ bill.date }} <br />
        <a href='{#% FIXME url "bill_detail" bill.id %#}'>Detalle</a>
    {% endfor %}
    <a href='{% url "company_index" company.id %}'>Back</a>
{% endblock %}
