{% extends 'billing/l2_bill_selected.html' %}
{% load bootstrap3 %}

{% block title %}Ver Factura {{ bill }} - {{ block.super }}{% endblock %}


{% block body %}
    {{ block.super }}
    <div class='col-xs-12'>
        <h2>Emitiendo Factura</h2>
        <table class='table table-hover' id='status-table'>
            <tr><th>Confirmar Factura</th><td id='accept-td'></td></tr>
            <tr><th>Enviar factura al SRI</th><td id='send-td'></td></tr>
            <tr><th>Validar factura en SRI</th><td id='validate-td'></td></tr>
        </table>
    </div>
<script>
$(document).ready(function () {

    function get_base_dict_for_post() {
        var token_data = $("{% csrf_token %}");
        var res = {};
        res[token_data.attr("name")] = token_data.attr('value');
        return res
    }

    var accept_url = '{% url "bill_emit_accept" bill.id %}',
        send_to_sri_url = '{% url "bill_emit_send_to_sri" bill.id %}',
        validate_url = '{% url "bill_emit_validate" bill.id %}',
        success_url = '{% url "emitted_bill_detail" bill.id %}',
        failure_url = '{% url "bill_detail" bill.id %}',
        timeout_id = window.setTimeout(accept_fn, 1000),
        retries = 0;

    function noop() {}
    function redirect_to_emitted_bill() {
        document.location = success_url;
    }
    function post_to_server(ob) {
        var selector = ob.status_selector,
            url = ob.url,
            next_fn = ob.next_fn,
            self_fn = function () {post_to_server(ob);};
        $(selector).append('<span class="glyphicon glyphicon-refresh spinning"></span>')
        $.post(url, get_base_dict_for_post(), noop, 'json')
         .done(function (data) {
            $(selector).text(data.msg);
            if(data.success == true) {
                $(selector).append(' <span class="glyphicon glyphicon-ok text-green"></span>');
                timeout_id = window.setTimeout(next_fn, 100);
            } else {
                $(selector).append(' <span class="glyphicon glyphicon-delete text-red"></span>');
                document.location = failure_url;
            }
         })
         .fail(function (data) {
            if(retries < 10) {
                $(selector).text("Algo falló. Reintentando...");
                timeout_id = window.setTimeout(self_fn, 1000);
                retries += 1;
            } else {
                $(selector).text("Fallo.");
                $(selector).append(' <span class="glyphicon glyphicon-delete text-red"></span>');
                document.location = failure_url;
            }
         });
    }

    function accept_fn() {
        post_to_server({
            status_selector: '#accept-td',
            url: accept_url,
            next_fn: send_to_sri_fn});
    }

    function send_to_sri_fn() {
        post_to_server({
            status_selector: '#send-td',
            url: send_to_sri_url,
            next_fn: validate_fn});
    }

    function validate_fn() {
        post_to_server({
            status_selector: '#validate-td',
            url: validate_url,
            next_fn: redirect_to_emitted_bill});
    }


});
</script>

{% endblock %}
