{% extends 'billing/l2_bill_selected.html' %}
{% load bootstrap3 %}
{% load links %}

{% block title %}Ver Factura {{ bill }} - {{ block.super }}{% endblock %}

{% block left_menu %}{% endblock %}

{% block body %}
    {{ block.super }}
    <div class='col-xs-12'>
        <h1>Factura emitida</h1>
        {% buttons %}
            {% buttons_menu %}
                {% primary_button 'Cobrar factura' 'receivable_detail' bill.receivables.0.id %}
                {% back_button 'billing_main_menu' company.id %}
            {% endbuttons_menu %}
        {% endbuttons %}
       
        {% include 'billing/bill_emitted_detail.html' %}

    </div>

{% endblock %}
