{% extends 'billing/l2_bill_selected.html' %}
{% load bootstrap3 %}
{% load decimal_format %}
{% load links %}

{% block title %}Ver Factura {{ bill }} - {{ block.super }}{% endblock %}

{% block left_menu %}
    <li><a href="{% url 'bill_create' punto_emision.id %}">Nueva Factura</a></li>
    <li><a href="{% url 'bill_delete' bill.id %}" class='btn-danger' >Eliminar Factura</a></li>
{% endblock %}

{% block body %}

<style>
.spacer {
    margin-top: 15px;
}
</style>

{{ block.super }}



<div class='col-xs-12'>

  {% if bill.punto_emision.ambiente_sri == 'pruebas' %}
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <strong>Entorno Pruebas</strong> El sistema está configurado para emitir facturas en el entorno de Pruebas.
        La factura no será válida.
    </div>
  {% endif %}

  {% for error in sri_errors %}
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <strong>{{ error.tipo }}</strong>
        (#{{error.identificador}})
        {{ error.mensaje }}
        {% if error.informacionAdicional %}{{ error.informacionAdicional }}{% endif %}
        {% if error.url %}
            <a href='{{ error.url }}' class='btn btn-default'>{{ error.url_msg }}</a>
        {% endif %}
    </div>
  {% endfor %}

  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2 class='panel-title'>Factura</h2>
    </div>
    <div class='panel-body'>
      <table class='table table-hover'>
        <tr>
          <th>Numero</th>
          <td>{{ bill.number }}</td>
        </tr>

        {% if bill.clave_acceso %}
            <tr>
                <th>{% if bill.punto_emision.ambiente_sri == 'pruebas' %}
                    Clave Provisional de Acceso de Pruebas
                    {% else %}
                    Clave Provisional de Acceso
                    {% endif %}
                </th>
                <td>{{ bill.clave_acceso }}
                </td>
            </tr>
        {% endif %}

        {% if bill.issued_to %}
          <tr>
            <th>Cliente</th>
            <td>({{ bill.issued_to.tipo_identificacion }}) {{ bill.issued_to.identificacion }}</td>
          </tr>
          <tr>
            <th></th>
            <td>{{ bill.issued_to.razon_social }}</td>
          </tr>
        {% else %}
          <tr>
            <th>Cliente</th>
            <td class='text-danger'>No hay cliente seleccionado</td>
          </tr>
        {% endif %}
        <tr>
          <th>Fecha</th>
          <td>{{ bill.date }}</td>
        </tr>
      </table>
      {% fullwidth_primary_button 'Editar datos' "bill_update" bill.id %}
    </div>
  </div>

  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2 class='panel-title' id='anchor-detalle'>Detalle</h2>
    </div>
    <div class='panel-body'>
      <table class='table table-hover table-valign' id='detail_table'>
        {% include "billing/bill_detail_item_table.html" %}
      </table>
      <div class='container-fluid'>
        <div class='row'>
          <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group">
            <span class="input-group-addon" id="basic-addon1">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </span>
            <input id='search_item' type="text" class="dropdown-toggle form-control col-xs-12"
                placeholder='Añadir Artículo'
                value=''
                autofocus />
            <ul class="dropdown-menu col-xs-12"></ul>
            <noscript>
              <a href="{% url "bill_add_item" bill.id %}"
                 class='btn btn-primary col-xs-12 col-md-4'>Añadir Artículo</a>
            </noscript>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2 class='panel-title'>Totales</h2>
    </div>
    <div class='panel-body'>
      <table class='table table-hover'>
        <tbody id='totals_table'>
          {% include "billing/bill_detail_totals_table.html" %}
        </tbody>
      </table>
    </div>
  </div>


  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2 class='panel-title'>Pago</h2>
    </div>
    <div class='panel-body'>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Forma</th>
          </tr>
        </thead>
        <tbody id='payment_table'>
            {% include "billing/bill_detail_payment_table.html" %}
        </tbody>
      </table>
      {% buttons %}
        {% fullwidth_primary_button 'Editar condiciones de pago' "bill_payment_details" bill.id %}
      {% endbuttons %}
    </div>
  </div>


  <div class='panel panel-default'>
    <div class='panel-heading'>
        <h2 class='panel-title'>Acciones</h2>
    </div>
    <div class='panel-body'>
      {% if not company.can_sign %}
          <p>No hay certificado de firma. No es posible emitir facturas hasta que no se suba un certificado de firma</p>
          {% fullwidth_warning_button 'Subir Certificado de Firma' "company_accounts:company_upload_cert" company.id %}      {% elif not bill.issued_to %}
          <p>No hay cliente seleccionado.</p>
          {% fullwidth_warning_button 'Seleccionar Cliente' "bill_update" bill.id %}
      {% elif not bill.payment %}
          <p>No hay términos de pago.</p>
          {% fullwidth_warning_button 'Seleccionar Condiciones de Pago' "bill_payment_details" bill.id %}
      {% elif not bill.items %}
          <p>No hay artículos en la factura.</p>
          <a href="#anchor-detalle"
             class='btn btn-warning col-xs-12'>Añadir Artículos</a>
      {% else %}
          {% fullwidth_primary_button 'Emitir Factura' "bill_emit_accept" bill.id %}
      {% endif %}

      {% if bill.issued_to and bill.issued_to.razon_social != "CONSUMIDOR FINAL" %}
          {% fullwidth_button 'Enviar Proforma al Cliente' "bill_send_to_customer" bill.id %}
      {% endif %}
        
      {% fullwidth_danger_button 'Eliminar Factura' "bill_delete" bill.id %}
    </div>
  </div>
</div>


<div class="modal fade" id="qty-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Editar cantidad <span id='item_name'></span></h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Cantidad:</label>
            <input type="number" class="form-control" id="new-qty" />
            <input type="hidden" class="form-control" id="modal-item-id" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id='button-accept'>Aceptar</button>
      </div>
    </div>
  </div>
</div>

<script>
$("#detail_table").on("click", ".item-qty-popup-edit", function (){
    var td = $(this),
        current_value = td.find(".qty-value").text(),
        current_id = td.attr("data-id");
    $("#new-qty").val(current_value);
    $("#modal-item-id").val(current_id);
    $("#qty-modal").modal("show");
});

$("#button-accept").click(function (){
    accept_field($("#modal-item-id").val(), 'qty', $("#new-qty").val());
    $("#qty-modal").modal("hide");
});


$("#detail_table").on("click", ".item-inline-edit", function (ev) {
    var td = $(this),
        current_value = td.find(".value").text(),
        current_id = td.attr('data-id'),
        field = td.attr('data-field');

    td.removeClass("item-inline-edit");
    td.html("");

    var input = $("<input>").attr("type", "number")
                            .attr("class", "form-control")
                            .css("max-width", "100px")
                            .attr("value", $.trim(current_value))
                            .attr("step", td.attr("data-step"))
                            .attr("min", td.attr("data-step"));
    td.append(input);
    input.focus()
        .on("keypress", function(ev) {
            if(ev.which == 13) {
                accept_field(current_id, field, input.val());
            }
        })
        .on("blur", function (ev) {
            accept_field(current_id, field, input.val());
        });
});

function accept_field(id, field, new_value) {
    var data_to_post = get_base_dict_for_post();
    data_to_post[field] = new_value;
    $.post("{% url 'billitem_update_js' 9999999999 %}".replace('9999999999', id), data_to_post)
        .error(function (a, b, c) {console.log([a, b, c]);})
        .always(reload_tables);
}

function reload_tables() {
    function reload_content(selector, url) {
        $(selector)
            .animate(
                {opacity: 0},
                400, function() {
                $(selector)
                .load(url, function() {
                    $(selector).animate({opacity: 1}, 400);
                    location.href = "#detalle_table";
                });
            });
    }
    reload_content("#detail_table",
                   "{% url 'bill_detail_item_table' bill.id %}");
    reload_content("#totals_table",
                   "{% url 'bill_detail_totals_table' bill.id %}");
    reload_content("#payment_table",
                   "{% url 'bill_detail_payment_table' bill.id %}");
}

function get_base_dict_for_post() {
    var token_data = $("{% csrf_token %}");
    var res = {};
    res[token_data.attr("name")] = token_data.attr('value');
    return res
}

prepare_search_box({
    selector: '#search_item',
    gen_name_fn: function (sku) {
                    if(sku.qty > 0) {
                        return sku.code + " - " + sku.name + " - (" + sku.qty + " disponibles)";
                    } else {
                        return sku.code + " - " + sku.name + " - (agotado)";
                    }
                 },
    gen_name_post_process_fn: function (sku, text) {
                                    if (sku.qty > 0) {
                                        return text;
                                    } else {
                                        return "<span class='text-danger'>" + text + "</span>";
                                    }
                              },
    callback_fn: function (item) {
                    var data_to_post = get_base_dict_for_post();
                    data_to_post['sku'] = item.id;
                    data_to_post['qty'] = '1';
                    $.post('{% url "bill_add_item" bill.id %}', data_to_post)
                        .always(reload_tables);
                 },
    data_url: '{% url 'sku_establecimiento_list_json' establecimiento.id %}',
    fields_to_search: ['code', 'name', 'location'],
});



</script>

{% endblock %}
