{% extends 'billing/l2_bill_selected.html' %}
{% load bootstrap3 %}

{% block title %}Eliminar Factura {{ bill }} - {{ block.super }}{% endblock %}
{% block body %}
    {{ block.super }}
    <form action="" method="post" class='form'>{% csrf_token %}
        <p>¿Está seguro de querer eliminar "{{ bill }}"?</p>
        {% buttons %}
            <input type="submit" value="Eliminar" class='btn btn-danger' />
            <a href='{% url 'bill_detail' bill.id %}' class='btn btn-default'>No Eliminar</a>
        {% endbuttons %}
    </form>
{% endblock %}
