{% extends 'billing/l1_company_selected.html' %}

{% load bootstrap3 %}
{% load decimal_format %}

{% block title %}Menú General - {{ block.super }}{% endblock %}

{% block body %}
    {{ block.super }}
    <div class='col-xs-12'>

        <div class='col-xs-12 col-md-6 even-section'>
            <h1>Proformas</h1>
            {% include 'billing/proformabill/proformabill_list_table.html' with show_all_items_button=True %}
            {% buttons %}
                {% if single_punto_emision %}
                    <a href="{% url 'proformabill_create' single_punto_emision.id %}" class='btn btn-primary'>Nueva proforma</a>
                {% else %}
                    {# TODO Ir a punto de emision #}
                {% endif %}
            {% endbuttons %}
        </div>

        <div class='col-xs-12 col-md-6 even-section'>
            <h1>Clientes</h1>
            {% include 'billing/customer/customer_list_table.html' with show_all_items_button=True %}
            {% buttons %}
                <a href="{% url 'customer_create' company.id %}" class='btn btn-primary'>Nuevo cliente</a>
            {% endbuttons %}
        </div>
    </div>
    <div class='col-xs-12'>
        <div class='col-xs-12 col-md-6 even-section'>
            <h1>Facturas</h1>
            {% include 'billing/bill/bill_list_table.html' with show_all_items_button=True %}
        </div>

        <div class='col-xs-12 col-md-6 even-section'>
            <h1>Artículos en venta</h1>
            {% include 'billing/item/item_list_table.html' with show_all_items_button=True %}
            {% buttons %}
                <a href="{% url 'item_create' company.id %}" class='btn btn-primary'>Nuevo Artículo</a>
            {% endbuttons %}
        </div>
    </div>

{% endblock %}
