{% extends 'billing/l1_company_selected.html' %}

{% load bootstrap3 %}
{% load decimal_format %}

{% block title %}Detalles de la Empresa - {{ block.super }}{% endblock %}

{% block body %}
    {{ block.super }}
    <div class='col-xs-12 even-section'>
        <div class='col-xs-12 col-lg-6'>
            <img src='{{company.logo}}' alt='Logotipo' />
        </div>
        <div class='col-xs-12 col-lg-6'>
            <h1>{{company.nombre_comercial}}</h1>
            <h4>{{company.razon_social}}</h4>
            <h3>RUC: {{company.ruc}}</h3>
            <h3>Dirección Matriz</h3>
            <h4>{{company.direccion_matriz}}</h4>
            <a href='{% url 'company_profile_update' company.id %}' class='btn btn-primary form-control'>Editar detalles</a>
        </div>
        <div class='col-xs-12'>
            <table class='table table-hover'>
                <tr>
                    <th>Certificado de Firma Electrónica</th><td>{# FIXME Mostrar estado #}</td><td>{# FIXME Boton 'subir certificado' #}</td>
                </tr>
                <tr>
                    <th>Plan de DSSTI Facturas</th>
                    <td>{{ company.licencia_pretty }}</td>
                    <td><a href='{% url 'company_profile_select_plan' company.id %}' class='btn btn-default'>Elegir Plan</a></td>
                </tr>
                <tr>
                    <th>Control de Contador</th><td>{# FIXME Mostrar estado #}</td><td>{# FIXME Boton 'agregar contador' #}</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}
