{% extends 'billing/l1_company_selected.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}Nuevo cliente - {% endblock %}
{% block body_l1 %}
        <form method='post' action='.' class='form'>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type='submit' class="btn btn-primary">Guardar</button>
                <a href='{% url 'customer_index' company.id %}' class='btn btn-default'>Cancelar</a>
            {% endbuttons %}
        </form>
{% endblock %}
