{% extends 'billing/l2_item_selected.html' %}
{% load bootstrap3 %}
{% load decimal_format %}

{% block body_l2 %}
<table class='table table-hover'>
    <tr>
        <th>SKU</th> <td>{{ item.sku }}</td>
    </tr>
    <tr>
        <th>Nombre</th> <td>{{ item.name }}</td>
    </tr>
    <tr>
        <th>Precio Unitario</th> <td>{{ item.unit_price|price4d }}</td>
    </tr>
    <tr>
        <th>Descripción</th> <td>{{ item.description }}</td>
    </tr>
    {% if item.ice %}
    <tr>
        <th>ICE</th> <td>{{ item.ice }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>IVA</th> <td>{{ item.iva }}</td>
    </tr>
    <tr>
        <th>Coste Unitario</th> <td>{{ item.unit_cost|price4d }}</td>
    </tr>
</table>
{% buttons %}
    <a href='{% url "item_update" item.id %}' class='btn btn-primary'>Editar</a>
    <a href='{% url "item_index" company.id %}' class='btn btn-default'>Artículos</a>
    <a href='{% url "company_index" company.id %}' class='btn btn-default'>Menú General</a>
{% endbuttons %}
{% endblock %}
