{% extends 'base.html' %}
{% block title %}{% block title_l1 %}{% endblock %}{{ company.nombre_comercial }} - {% endblock %}


{% block body_block %}
    <div id='company_bar'>
        <h1>{{ company.nombre_comercial }}</h1>
        <h3>({{ company.razon_social }})</h3>
    </div>
    <div id='breadcrumbs'>
        <ol class='breadcrumb'>
            <li><a href='{% url 'company_index' company.id %}'>{{ company.nombre_comercial }}</a></li>
            {% block breadcrumbs_l1 %}
            {% endblock %}
        </ol>
    </div>
    {% block body_l1 %}
    {% endblock %}
{% endblock %}
