{% extends 'base.html' %}
{% block title %}{{ company.nombre_comercial }} - {{ block.super }}{% endblock %}

{% block home_url %}{% url 'billing_index' %}{% endblock %}

{% block left_nav_bar %}
{% if single_punto_emision %}
    <li><a href="{% url 'proformabill_create' single_punto_emision.id %}" >Nueva proforma</a></li>
{% else %}
    {# TODO Ir a punto de emision #}
{% endif %}
<li><a href="{% url 'customer_create' company.id %}">Nuevo cliente</a></li>
<li><a href="{% url 'item_create' company.id %}">Nuevo Artículo</a></li>
{% endblock %}

{% block body_block %}
    <div class='row even-section'>
        <div class='col-xs-12 company-bar'>
            <h1>{{ company.nombre_comercial }}</h1>
            <h3>({{ company.razon_social }})</h3>
        </div>
        <div class='col-xs-12'>
            <ol class='breadcrumb'>
                <li><a href='{% url 'company_index' company.id %}'>{{ company.nombre_comercial }}</a></li>
                {% block breadcrumbs %}
                {% endblock %}
            </ol>
        </div>
        {% block body %}{% endblock %}
    </div>
{% endblock %}
