{% extends 'l0_company_selected.html' %}
{% block title %}{{ company.nombre_comercial }} - {{ block.super }}{% endblock %}

{% block left_nav_bar %}
    <li><a href="{% url 'billing_index' %}">Facturación</a></li>
    {% block left_menu %}
        {% if single_punto_emision %}
            <li><a href="{% url 'bill_create' single_punto_emision.id %}" >Nueva factura</a></li>
        {% else %}
            {# TODO Ir a punto de emision #}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href='{% url 'company_index' company.id %}'>Facturación</a></li>
{% endblock %}
