{% extends 'billing/l1_company_selected.html' %}
{% block title %}{{ proformabill }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href='{% url 'proformabill_company_index' company.id %}'>Proformas</a></li>
    <li><a href='{% url 'proformabill_detail' proformabill.id %}'>{{ proformabill.number }} - {{ proformabill.issued_to.razon_social }}</a></li>
{% endblock %}

{% block body_l1 %}
    <h1>{{ proformabill }}</h1>
    {% block body_l2 %}
    {% endblock %}
{% endblock %}
