{% extends 'billing/l1_company_selected.html' %}
{% block title_l1 %}{% block title_l2 %}{% endblock %}{{ proformabill }} - {% endblock %}

{% block breadcrumbs_l1 %}
    <li><a href='{% url 'proformabill_company_index' company.id %}'>Proformas</a></li>
    <li><a href='{% url 'proformabill_detail' proformabill.id %}'>{{ proformabill.number }} - {{ proformabill.issued_to.razon_social }}</a></li>
    {% block breadcrumbs_l2 %}
    {% endblock %}
{% endblock %}

{% block body_l1 %}
    <h1>{{ proformabill }}</h1>
    {% block body_l2 %}
    {% endblock %}
{% endblock %}
