{% extends 'billing/l1_company_selected.html' %}
{% block title %}{{ proformabill }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href='{% url 'proformabill_company_index' company.id %}'>Facturas</a></li>
    <li><a href='{% url 'proformabill_detail' proformabill.id %}'>{{ proformabill.number }} - {{ proformabill.issued_to.razon_social }}</a></li>
{% endblock %}

{% block body %}
    {{ block.super }}
    <div class='col-xs-12'>
        <h1>{{ proformabill }}</h1>
    </div>
{% endblock %}
