{% extends 'billing/l1_company_selected.html' %}
{% load bootstrap3 %}
{% block title %}Proformas - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href='{% url 'proformabill_company_index' company.id %}'>Proformas</a></li>
{% endblock %}

{% block body %}
    {{ block.super }}
    <div class='col-xs-12'>
    <h1>Proformas</h1>
    <table class='table table-hover'>
        <tr>
            <th>Proforma</th>
            <th></th>
        </tr>
    {% for proformabill in proformabill_list %}
        <tr>
            <td>{{ proformabill }}</td>
            <td><a href="{% url 'proformabill_detail' proformabill.id %}" class='btn btn-default'>Detalle</a></td>
        </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}
