{% extends 'billing/l1_company_selected.html' %}
{% block title_l1 %}Proformas - {% endblock %}

{% block breadcrumbs_l1 %}
    <li><a href='{% url 'proformabill_company_index' company.id %}'>Proformas</a></li>
    {% block breadcrumbs_l2 %}
    {% endblock %}
{% endblock %}

{% block body_l1 %}
        <h1>Proformas</h1>
        <table border='1'>
        {% for proformabill in proformabill_list %}
            <tr><td>
            <a href="{% url 'proformabill_detail' proformabill.id %}">{{ proformabill }}</a>
            </td></tr>
        {% endfor %}
        </table>
{% endblock %}
