{% extends 'billing/l2_proformabill_selected.html' %}
{% load bootstrap3 %}
{% load decimal_format %}

{% block title %}Ver Factura {{ proformabill }} - {{ block.super }}{% endblock %}

{% block left_nav_bar %}
    <li><a href="{% url 'proformabill_create' punto_emision.id %}">Nueva Factura</a></li>
    <li><a href="{% url 'proformabill_delete' proformabill.id %}" class='btn-danger' >Eliminar Factura</a></li>

{% endblock %}

{% block body %}

<style>
.spacer {
    margin-top: 15px;
}
</style>

{{ block.super }}



<div class='col-xs-12'>

  {% if proformabill.punto_emision.ambiente_sri == 'pruebas' %}
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <strong>Entorno Pruebas</strong> El sistema está configurado para emitir facturas en el entorno de Pruebas.
        La factura no será válida.
    </div>
  {% endif %}

  {% for error in sri_errors %}
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <strong>{{ error.tipo }}</strong>
        (#{{error.identificador}})
        {{ error.mensaje }}
        {% if error.informacionAdicional %}{{ error.informacionAdicional }}{% endif %}
        {% if error.url %}
            <a href='{{ error.url }}' class='btn btn-default'>{{ error.url_msg }}</a>
        {% endif %}
    </div>
  {% endfor %}

  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2 class='panel-title'>Factura</h2>
    </div>
    <div class='panel-body'>
      <table class='table table-hover'>
        <tr>
          <th>Numero</th>
          <td>{{ proformabill.number }}</td>
        </tr>

        {% if proformabill.clave_acceso %}
            <tr>
                <th>{% if proformabill.punto_emision.ambiente_sri == 'pruebas' %}
                    Clave Provisional de Acceso de Pruebas
                    {% else %}
                    Clave Provisional de Acceso
                    {% endif %}
                </th>
                <td>{{ proformabill.clave_acceso }}
                </td>
            </tr>
        {% endif %}

        {% if proformabill.issued_to %}
          <tr>
            <th>Cliente</th>
            <td>({{ proformabill.issued_to.tipo_identificacion }}) {{ proformabill.issued_to.identificacion }}</td>
          </tr>
          <tr>
            <th></th>
            <td>{{ proformabill.issued_to.razon_social }}</td>
          </tr>
        {% else %}
          <tr>
            <th>Cliente</th>
            <td class='text-danger'>No hay cliente seleccionado</td>
          </tr>
        {% endif %}
        <tr>
          <th>Fecha</th>
          <td>{{ proformabill.date }}</td>
        </tr>
      </table>
      <a href="{% url "proformabill_update" proformabill.id %}" class='btn btn-primary col-xs-12'>Editar datos</a>
    </div>
  </div>

  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2 class='panel-title'>Detalle</h2>
    </div>
    <div class='panel-body'>
      <table class='table table-hover' id='detail_table'>
        {% include "billing/proformabill_detail_item_table.html" %}
      </table>
      <div class='container-fluid'>
        <div class='row'>
          <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group">
            <span class="input-group-addon" id="basic-addon1">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </span>
            <input id='search_item' type="text" class="dropdown-toggle form-control col-xs-12"
                placeholder='Añadir Artículo'
                value=''
                autofocus />
            <ul class="dropdown-menu col-xs-12"></ul>
            <noscript>
              <a href="{% url "proformabill_add_item" proformabill.id %}"
                 class='btn btn-primary col-xs-12 col-md-4'>Añadir Artículo</a>
            </noscript>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2 class='panel-title'>Totales</h2>
    </div>
    <div class='panel-body'>
      <table class='table table-hover'>
        <tbody id='totals_table'>
          {% include "billing/proformabill_detail_totals_table.html" %}
        </tbody>
      </table>
    </div>
  </div>


  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2 class='panel-title'>Pago</h2>
    </div>
    <div class='panel-body'>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Forma</th>
          </tr>
        </thead>
        <tbody id='payment_table'>
            {% include "billing/proformabill_detail_payment_table.html" %}
        </tbody>
      </table>
      {% buttons %}
        <a href="{% url "proformabill_payment_details" proformabill.id %}"
           class='btn btn-primary col-xs-12'>Editar condiciones de pago</a>
      {% endbuttons %}
    </div>
  </div>


  <div class='panel panel-default'>
    <div class='panel-heading'>
        <h2 class='panel-title'>Acciones</h2>
    </div>
    <div class='panel-body'>
      {% if company.can_sign %}
      <a href="{% url "proformabill_emit_to_bill" proformabill.id %}"
         class='btn btn-primary col-xs-12'>Emitir Factura</a>
      {% else %}
      <p>No hay certificado de firma. No es posible emitir facturas hasta que no se suba un certificado de firma</p>
      <a href="{% url "company_accounts:company_upload_cert" company.id %}"
         class='btn btn-warning col-xs-12'>Subir Certificado de Firma</a>
      {% endif %}
        
      <a href="{% url "proformabill_delete" proformabill.id %}"
         class='btn btn-danger col-xs-12 spacer'>Eliminar Factura</a>
    </div>
  </div>
</div>


<div class="modal fade" id="qty-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Editar cantidad <span id='item_name'></span></h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Cantidad:</label>
            <input type="number" class="form-control" id="new-qty" />
            <input type="hidden" class="form-control" id="modal-item-id" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id='button-accept'>Aceptar</button>
      </div>
    </div>
  </div>
</div>

<script>
$("#detail_table").on("click", ".item-qty-popup-edit", function (){
    var td = $(this),
        current_value = td.find(".qty-value").text(),
        current_id = td.attr("data-id");
    $("#new-qty").val(current_value);
    $("#modal-item-id").val(current_id);
    $("#qty-modal").modal("show");
});

$("#button-accept").click(function (){
    accept_qty($("#modal-item-id").val(),
               $("#new-qty").val());
    $("#qty-modal").modal("hide");
});


$("#detail_table").on("click", ".item-qty-inline-edit", function (ev) {
    var td = $(this),
        current_value = td.find(".qty-value").text(),
        current_id = td.attr('data-id');

    td.removeClass("item-qty-inline-edit");
    td.html("");

    var input = $("<input>").attr("type", "number")
                            .attr("class", "form-control")
                            .css("max-width", "100px")
                            .attr("value", $.trim(current_value))
                            .attr("step", td.attr("data-step"))
                            .attr("min", td.attr("data-step"));
    td.append(input);
    input.focus()
        .on("keypress", function(ev) {
            if(ev.which == 13) {
                accept_qty(current_id, input.val());
            }
        })
        .on("blur", function (ev) {
            accept_qty(current_id, input.val());
        });
});

function accept_qty(id, new_value) {
    var data_to_post = get_base_dict_for_post();
    data_to_post['qty'] = new_value;
    $.post("{% url 'proformabillitem_update_js' 9999999999 %}".replace('9999999999', id), data_to_post)
        .error(function (a, b, c) {console.log([a, b, c]);})
        .always(reload_tables);
}

function reload_tables() {
    function reload_content(selector, url) {
        $(selector)
            .animate(
                {opacity: 0},
                400, function() {
                $(selector)
                .load(url, function() {
                    $(selector).animate({opacity: 1}, 400);
                    location.href = "#detalle_table";
                });
            });
    }
    reload_content("#detail_table",
                   "{% url 'proformabill_detail_item_table' proformabill.id %}");
    reload_content("#totals_table",
                   "{% url 'proformabill_detail_totals_table' proformabill.id %}");
    reload_content("#payment_table",
                   "{% url 'proformabill_detail_payment_table' proformabill.id %}");
}

function get_base_dict_for_post() {
    var token_data = $("{% csrf_token %}");
    var res = {};
    res[token_data.attr("name")] = token_data.attr('value');
    return res
}

prepare_search_box(
    '#search_item',
    function (item) {
        return item.sku + " - " + item.name;
    },
    function (item) {
        var data_to_post = get_base_dict_for_post();
        data_to_post['copy_from'] = item.id;
        data_to_post['qty'] = '1';
        $.post('{% url "proformabill_add_item" proformabill.id %}', data_to_post)
            .always(reload_tables);
    },
    '{% url 'item_index_json' company.id %}',
    ['sku', 'name', 'description'],
    "<span style='color: #777'>No se encontró ningún artículo</span>",
    "Error cargando lista"
);



</script>

{% endblock %}
