{% extends 'billing/l2_proformabill_selected.html' %}
{% block title %}Ver Proforma {{ proformabill }} - {{ block.super }}{% endblock %}
{% block body_l1 %}
        <h1>Proforma</h1>
        <style>
            table {
                width: 100%;
            }
            td  {
                text-align: right;
                padding-left: 5px;
                padding-right: 5px;
            }
            .edit_button, .delete_button {
                width: 0px;
            }

        </style>

        <table border='1'>
            <tr>
                <th>Numero</th><td>{{ proformabill.number }}</td>
                <td rowspan='4'>
                    <a href="{% url "proformabill_update" proformabill.id %}">Editar datos</a>
                </td>
            </tr>
            <tr>
                <th>Cliente</th><td>({{ proformabill.issued_to.tipo_identificacion }}) {{ proformabill.issued_to.identificacion }} </td>
            </tr>
            <tr>
                 <th></th><td>{{ proformabill.issued_to.razon_social }}</td>
            </tr>
            <tr>
                <th>Fecha</th><td>{{ proformabill.date }}</td>
            </tr>
        </table>
        <table border=1>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>
                <th>Subtotal</th>
                <th>Impuestos</th>
            </tr>
        {% for item in proformabill.items %}
            <tr>
                <td>{{ item.sku }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.qty }}</td>
                <td>{{ item.unit_price|floatformat:4 }}</td>
                <td>{{ item.subtotal|floatformat:2 }}</td>
                <td>{{ item.total_impuestos|floatformat:2 }}</td>
            <tr/>
        {% endfor %}
        </table>
        <table border='1'>
            <tr>
                <th>Subtotal IVA 12%</th><td>{{ proformabill.subtotal.12|floatformat:2 }}</td>
            </tr>
            <tr>
                <th>Subtotal IVA 0%</th><td>{{ proformabill.subtotal.0|floatformat:2 }}</td>
            </tr>
            <tr>
                <th>IVA 12%</th><td>{{ proformabill.iva.12|stringformat:".2f" }}</td>
            </tr>
            <tr>
                <th>Total a pagar</th><td>{{ proformabill.total|stringformat:".2f" }}</td>
            </tr>
        </table>
        <form action='{% url 'proformabill_emit_to_bill' proformabill.id %}' method='post'>
            <input type='submit'>Emitir</input>
        </form>

{% endblock %}
