{% extends 'billing/l2_proformabill_selected.html' %}
{% load bootstrap3 %}
{% block title_l1 %}Ver Proforma {{ proformabill }}- {% endblock %}
{% block body_l1 %}
        <h1>Proforma</h1>
        <style>
/*            table {
                width: 100%;
            }
            td  {
                text-align: right;
                padding-left: 5px;
                padding-right: 5px;
            }
            .edit_button, .delete_button {
                width: 0px;
            }
*/
        </style>

        <table class='table table-hover'>
            <tr>
                <th>Numero</th>
                <td>{{ proformabill.number }}</td>
                <td rowspan='4'>
                    <a href="{% url "proformabill_update" proformabill.id %}" class='btn btn-default'>Editar datos</a>
                </td>
            </tr>
            <tr>
                <th>Cliente</th>
                <td>({{ proformabill.issued_to.tipo_identificacion }}) {{ proformabill.issued_to.identificacion }} </td>
            </tr>
            <tr>
                <th></th>
                <td>{{ proformabill.issued_to.razon_social }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ proformabill.date }}</td>
            </tr>
        </table>
        <h2>Detalle</h2>
        <table class='table table-hover'>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>
                <th>Subtotal</th>
                <th>Impuestos</th>
                <th></th>
            </tr>
        {% for item in proformabill.items %}
            <tr>
                <td>{{ item.sku }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.qty }}</td>
                <td>{{ item.unit_price|floatformat:4 }}</td>
                <td>{{ item.total_sin_impuestos|floatformat:2 }}</td>
                <td>{{ item.total_impuestos|floatformat:2 }}</td>
                <td>
                    {% buttons %}
                    <form action="{% url 'proformabillitem_delete' item.id %}" method='post'>
                        {% csrf_token %}
                        <a href="{% url 'proformabillitem_update' item.id %}" class='btn btn-default'>Editar</a>
                        <button type='submit' class='btn btn-danger'>Eliminar</button>
                    </form>
                    {% endbuttons %}
                </td>
            <tr/>
        {% endfor %}
        </table>
        {% buttons %}
            <a href="{% url "proformabill_add_item" proformabill.id %}" class='btn btn-primary'>Añadir Artículo</a>
        {% endbuttons %}
        <h2>Totales</h2>
        <table class='table table-hover'>
            <tr>
                <th>Subtotal IVA 12%</th><td>{{ proformabill.subtotal.12|floatformat:2 }}</td>
            </tr>
            <tr>
                <th>Subtotal IVA 0%</th><td>{{ proformabill.subtotal.0|floatformat:2 }}</td>
            </tr>
            <tr>
                <th>IVA 12%</th><td>{{ proformabill.iva.12|stringformat:".2f" }}</td>
            </tr>
            <tr>
                <th>Total a pagar</th><td>{{ proformabill.total|stringformat:".2f" }}</td>
            </tr>
        </table>
        {% buttons %}
            <a href="{% url "proformabill_emit_to_bill" proformabill.id %}" class='btn btn-primary'>Emitir Proforma</a>
            <a href="{% url "proformabill_delete" proformabill.id %}" class='btn btn-danger'>Eliminar</a>
        {% endbuttons %}

{% endblock %}
