{% extends 'billing/l2_proformabill_selected.html' %}
{% load bootstrap3 %}

{% block title %}Editar Item en Proforma {{ proformabill }} - {% endblock %}
{% block body_l2 %}
    <form method='post' action='.' class='form'>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type='submit' class='btn btn-primary'>Guardar</button>
            <a href='{% url 'proformabill_detail' proformabill.id %}' class='btn btn-default'>Cancelar</a>
        {% endbuttons %}
    </form>
{% endblock %}
