{% extends 'billing/l2_proformabill_selected.html' %}
{% load bootstrap3 %}
{% load decimal_format %}

{% block title %}Ver Proforma {{ proformabill }} - {{ block.super }}{% endblock %}
{% block body_l1 %}
        <h1>Proforma</h1>
        <table class='table table-hover'>
            <tr>
                <th>Numero</th>
                <td>{{ proformabill.number }}</td>
                <td rowspan='4'>
                    <a href="{% url "proformabill_update" proformabill.id %}" class='btn btn-default'>Editar datos</a>
                </td>
            </tr>
            <tr>
                <th>Cliente</th>
                <td>({{ proformabill.issued_to.tipo_identificacion }}) {{ proformabill.issued_to.identificacion }} </td>
            </tr>
            <tr>
                <th></th>
                <td>{{ proformabill.issued_to.razon_social }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ proformabill.date }}</td>
            </tr>
        </table>
        <h2>Detalle</h2>
        <a name='detalle_table'></a>
        <table class='table table-hover'>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio unitario</th>
                    <th>Subtotal</th>
                    <th>Impuestos</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id='detail_table'>
                {% include "billing/proformabill_detail_item_table.html" %}
            </tbody>
        </table>
        {% buttons %}
            <a href="{% url "proformabill_add_item" proformabill.id %}" class='btn btn-primary'>Añadir Artículo</a>
        {% endbuttons %}
        <div class='row'>
        <div class="btn-group col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group">
            <input id='search_item' type="text" class="dropdown-toggle col-xs-12 col-sm-12 col-md-12 col-lg-12"
                placeholder='Add Item'
                value=''
                autofocus />
            <ul class="dropdown-menu col-xs-12 col-sm-12 col-md-12 col-lg-12">
            </ul>
        </div>
        </div>
        <h2>Totales</h2>
        <table class='table table-hover'>
            <tbody id='totals_table'>
                {% include "billing/proformabill_detail_totals_table.html" %}
            </tbody>
        </table>
        {% buttons %}
            <a href="{% url "proformabill_emit_to_bill" proformabill.id %}" class='btn btn-primary'>Emitir Proforma</a>
            <a href="{% url "proformabill_delete" proformabill.id %}" class='btn btn-danger'>Eliminar</a>
        {% endbuttons %}


<script>
function gen_name(item) {
    return item.sku + " - " + item.name;
}

function reload_content(selector, url) {
    $(selector)
        .animate(
            {opacity: 0},
            400, function() {
            $(selector)
            .load(url, function() {
                $(selector).animate({opacity: 1}, 400);
                location.href = "#detalle_table";
            });
        });
}

function click_callback(item) {
    var token_data = $("{% csrf_token %}");
    var data_to_post = {copy_from: item.id,
                        qty: '1'};
    data_to_post[token_data.attr("name")] = token_data.attr('value');

    $.post('{% url "proformabill_add_item" proformabill.id %}', data_to_post)
        .done(function () {
            reload_content("#detail_table", 
                           "{% url 'proformabill_detail_item_table' proformabill.id %}");
            reload_content("#totals_table", 
                           "{% url 'proformabill_detail_totals_table' proformabill.id %}");
        })
        .fail(function (data) {
            console.log(data);
        });
}

prepare_search_box(
    '#search_item',
    gen_name,
    click_callback,
    '{% url 'item_index_json' company.id %}',
    ['sku', 'name', 'description'],
    "<span style='color: #777'>No se encontró ningún artículo</span>",
    "Error cargando lista");
</script>

{% endblock %}
