<!DOCTYPE html>
<html>

    <head>
        <title>Billing</title>
    </head>

    <body>
        <h1>Bill</h1>
        Number: {{ bill.number }} <br />
        Issued to: {{ bill.issued_to }} <br />
        Status: {% if bill.can_be_modified %} Proforma {% else %} Final {% endif %}
        <hr />
        {% for item in bill.items %}
            SKU: {{ item.sku }} <br />
            Name: {{ item.name }} <br />
            Description: {{ item.description }} <br />
            Qty: {{ item.qty }} <br />
            {% if bill.can_be_modified %}
            <a href="#">Edit</a>
            <form action="#" method='post'>
                {% csrf_token %}
                <button type='submit'>Delete</button>
            </form>
            {% endif %}
            <hr />
        {% endfor %}
        {% if bill.can_be_modified %}
            <a href="#">Edit</a>
            <a href="#">Add Item</a>
        {% endif %}
        <a href='{% url "company_index" company_id %}'>Back</a>
    </body>

</html>
