<!DOCTYPE html>
<html>

    <head>
        <title>Billing</title>
    </head>

    <body>
        <h1>Bill</h1>
        Number: {{ bill.number }} <br />
        Issued to: {{ bill.issued_to }} <br />
        Status: {% if bill.can_be_modified %} Proforma {% else %} Final {% endif %}
        <hr />
        {% for item in bill.items %}
            SKU: {{ item.sku }} <br />
            Name: {{ item.name }} <br />
            Description: {{ item.description }} <br />
            Qty: {{ item.qty }} <br />
            {% if bill.can_be_modified %}
            <a href="{% url 'edit_item_in_bill' bill.pk item.pk %}">Edit</a>
            <form action="{% url 'delete_item_from_bill' bill.pk item.pk %}" method='post'>
                {% csrf_token %}
                <button type='submit'>Delete</button>
            </form>
            {% endif %}
            <hr />
        {% endfor %}
        {% if bill.can_be_modified %}
            <a href="{% url 'edit_bill' bill.pk %}">Edit</a>
            <a href="{% url 'add_item_to_bill' bill.pk %}">Add Item</a>
        {% endif %}
    </body>

</html>
