{% load decimal_format %}
{% load links %}

{% if customer_list %}
<table class='table table-hover'>
    <thead><tr>
        <th>Identificación</th>
        <th>Razón Social</th>
        <th></th>
    </tr></thead>
    <tbody>
        {% for customer in customer_list %}
            <tr>
                <td>({{customer.tipo_identificacion}}) {{ customer.identificacion }}</td>
                <td>{{ customer.razon_social }}</td>
                <td>
                    {% details_button 'customer_detail' customer.id %}
                </td>
            </tr>
        {% endfor %}
        {% if show_all_items_button %}
            <tr>
                <td colspan='10'>
                    {% fullwidth_button 'Ver todos los clientes' 'customer_index' company.id %}
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% else %}
    No hay clientes.
{% endif %}
