{% load decimal_format %}
{% load links %}

{% if item_list %}
<table class='table table-hover'>
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in item_list %}
            <tr>
                <td>{{ item.code }}</td>
                <td>{{ item.name }}</td>
                <td>
                    {% fullwidth_button 'Detalle' 'item_detail' item.id %}
                </td>
            </tr>
        {% endfor %}
        {% if show_all_items_button %}
            <tr>
                <td colspan='10'>
                    <a href='{% url 'item_index' company.id %}'
                       class='btn btn-default form-control'>Ver todos los Artículos</a>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% else %}
    No hay artículos.
{% endif %}
