{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Facturación{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/base.css" rel="stylesheet" />

    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/jquery/jquery-ui.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    <script language='javascript' src='{% static 'js/json_search.js' %}'></script>
    <script language='javascript' src='{% static 'js/licence.js' %}'></script>
    <script language='javascript' src='{% static 'js/panel_control.js' %}'></script>
    <script language='javascript' src='{% static 'js/qty_unlimited.js' %}'></script>

    <meta name="description" content="El Programa de Factura Electrónica para todos los Ecuatorianos" />
    <meta property="og:title" content="El Programa de Factura Electrónica para todos los Ecuatorianos" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://facturacion.dssti.com" />
    <meta property="og:description" content="¡Basta de utilizar programas complicados! ¡DSSTI Facturas es el programa de facturas para todos los Ecuatorianos!" />
    {% block extra_head %}{% endblock %}
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-609' + '357' + '96-' + '4', 'auto');
  ga('send', 'pageview');

    </script>
  </head>

  <body>
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% block home_url %}/{% endblock %}" style='width:200px'>
            <img src='/static/img/logo_141x132.png' style='height: 40px; padding: 0px; margin-top: -10px; display: inline '/>
            <span class='text-nowrap'>Facturas</span>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% block left_nav_bar %}
              <li><a href='{% url 'benefits' %}'>Ventajas</a></li>
              <li><a href='{% url 'pricing' %}'>Precios</a></li>
            {% endblock %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% block menu_bar %}
              {% if user.is_authenticated %}
                {% block right_nav_bar %}
                  <li><a href="{% url 'company_accounts:company_select' %}" title='Configuración'>
                        <span class='glyphicon glyphicon-cog'></span></a></li>
                {% endblock %}
                <li><a href="{% url 'auth_logout' %}" title='Salir'>
                        <span class='glyphicon glyphicon-off'></span></a></li>
              {% else %}
                <li><a href="{% url 'auth_login' %}">Entrar al Sistema</a></li>
              {% endif %}
            {% endblock %}
          </ul>
        </div>
      </div>
    </div>

    <div class='container'>
      <div class='row' style='margin-top: 60px'>
        {% block body_block %}{% endblock %}
        {% include 'footer.html' %}
      </div>
        
    </div>
  </body>
</html>
