<hr />
<div class='row'>
    <div class='col-xs-6 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-2 col-xl-2 col-xl-offset-2'>
        <h4>Acerca de</h4>
        <ul class='no-circle'>
            <li><a href='{% url 'home' %}'>DSSTI Facturas</a>
            <li><a href='http://www.dssti.com/'>DSSTI</a>
            <li><a href='http://www.dssti.com/blog/'>DSSTI Blog</a>
        </ul>
    </div>
    <div class='col-xs-6 col-sm-4 col-md-2 col-xl-2'>
        <h4>Producto</h4>
        <ul class='no-circle'>
            <li><a href='{% url 'about' %}'>DSSTI Facturas</a>
        </ul>
    </div>
    <div class='col-xs-6 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-xl-2'>
        <h4>Enlaces de ayuda</h4>
        <ul class='no-circle'>
            <li><a href='{% url 'auth_login' %}'>Entrar al sistema</a>
        </ul>
    </div>
    <div class='col-xs-6 col-sm-4 col-md-2 col-xl-2'>
        <h4>Contactar</h4>
        <ul class='no-circle'>
            <li><a href='{% url 'support' %}'>Soporte</a>
        </ul>
    </div>
</div>
