<div class='row footer'>
    <hr />
    <div class='col-xs-6 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-2 col-xl-2 col-xl-offset-2'>
        <h4>Acerca de</h4>
        <ul class='no-circle'>
            <li><a href='{% url 'home' %}'>DSSTI Facturas</a></li>
            <li><a href='http://www.dssti.com/'>DSSTI</a></li>
            <li><a href='http://www.dssti.com/blog/'>DSSTI Blog</a></li>
        </ul>
    </div>
    <div class='col-xs-6 col-sm-4 col-md-2 col-xl-2'>
        <h4>Producto</h4>
        <ul class='no-circle'>
            <li><a href='{% url 'about' %}'>DSSTI Facturas</a></li>
        </ul>
    </div>
    <div class='col-xs-6 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-xl-2'>
        <h4>Enlaces de ayuda</h4>
        <ul class='no-circle'>
            <li><a href='{% url 'auth_login' %}'>Entrar al sistema</a></li>
        </ul>
    </div>
    <div class='col-xs-6 col-sm-4 col-md-2 col-xl-2'>
        <h4>Contactar</h4>
        <ul class='no-circle'>
            <li><a href='{% url 'support' %}'>Soporte</a></li>
        </ul>
    </div>
    <div class='vspace-15'></div>
    <div class='col-xs-10 col-xs-offset-1 vmargin-15'>
        <small>
        <p>
            DSSTI Facturas Copyright <span class='glyphicon glyphicon-copyright-mark'></span> 2015-2016
        </p>
        <p>
            DSSTI Facturas y todas las marcas asociadas son propiedad de <a href='http://www.dssti.com'>DSSTI</a>
        </p>
        </small>
    </div>
</div>
