{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %} DSSTI - {% endblock %}

{% block body_block %}

<style>
.main-page {
    min-height: 400px;
    background-color: #ccf;
}
body {
    background-color: #ccf;
}
.main-page .slogan {
    margin-top: 50px;
    margin-bottom: 30px;
}
.main-page form {
    margin-top: 30px;
    margin-bottom: 30px;
}
.desc-page {
    min-height: 300px;
    background-color: #005;
    color: #bbb;
    padding-left: 15px;
    padding-right: 15px;
}
.features-page {
    min-height: 500px;
    background-color: #ccf;
}
.support-page {
    min-height: 500px;
    background-color: #005;
    color: #bbb;
}
.request-form {
    padding: 20px;
    background-color: rgba(0,0,0,0.2);
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
}
.request-form form {
    background-color: #043;
    padding: 20px;
    display: block;
    margin: 0px;
    border-radius: 5px;
}
.request-form .request-form-subtext {
    margin-top: 20px;
    font-size: 130%;
}
.request-form .request-form-subtext a {
    color: #005;
}
.call-to-action {
    padding-top: 100px;
    padding-bottom: 100px;
}
.call-to-action h1{
    font-size: 400%;
}
hr {
    display: block;
    height: 1px;
    background-color: #333;
    margin: 1em 0;
    padding: 0; 
}
.no-circle li {
    list-style-type: none;
}
.support-link {
    padding: 10px;
    background-color: rgba(0,0,0,0.4);
    display: inline-block;
}
</style>
<div class='row main-page'>
    <div class='col-xs-12 col-sm-12 col-md-12 col-xl-12 text-center'>
        <h1>Muchas Gracias por su Interés en DSSTI Facturas</h1>
        <h3>En breve nos pondremos en contacto con usted</h3>
        <h3>para completar los detalles de su cuenta de DSSTI Facturas</h3>
    </div>
</div>

{% endblock %}
