{% extends 'customer_accounts/l1_company_selected.html' %}
{% load bootstrap3 %}
{% load links %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href='{% url 'customer_index' company.id %}'>Clientes</a></li>
{% endblock %}

{% block body %}
    {{ block.super }}
    <div class='col-xs-12'>
        <h1>Clientes</h1>
        {% include 'customer_accounts/customer/customer_list_table.html' %}
        {% buttons %}
            {% buttons_menu %}
                {% primary_button "Nuevo cliente" 'customer_create' company.id %}
            {% endbuttons_menu %}
        {% endbuttons %}
    </div>
{% endblock %}
