{% extends 'customer_accounts/l2_customer_selected.html' %}
{% load bootstrap3 %}
{% load links %}

{% block title %}Editar cliente {{ customer.name }} - {{ block.super }}{% endblock %}
{% block body %}
    {{ block.super }}
    <div class='col-xs-12'>
    <form method='post' action='.' class='form'>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            {% buttons_menu %}
                {% save_button %}
                {% dont_save_button 'customer_detail' customer.id %}
            {% endbuttons_menu %}
        {% endbuttons %}
    </form>
    </div>
{% endblock %}
