{% extends 'customer_accounts/l2_customer_selected.html' %}
{% load bootstrap3 %}
{% load links %}

{% block title %}Eliminar cliente {{ customer.name }} - {{ block.super }}{% endblock %}
{% block body %}
    {{ block.super }}
    <div class='col-xs-12'>
    <form action="" method="post" class='form'>
        {% csrf_token %}
        <p>¿Está seguro de querer eliminar el cliente "{{ customer }}"?</p>
        {% buttons %}
            {% buttons_menu %}
                {% delete_button %}
                {% dont_delete_button 'customer_detail' customer.id %}
            {% endbuttons_menu %}
        {% endbuttons %}
    </form>
    </div>
{% endblock %}
