{% extends 'customer_accounts/l1_company_selected.html' %}
{% load bootstrap3 %}
{% load links %}

{% block title %}Nuevo cliente - {{ block.super }} {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href='{% url 'customer_index' company.id %}'>Clientes</a></li>
    <li><a href='{% url 'customer_create' company.id %}'>Nuevo Cliente</a></li>
{% endblock %}

{% block body %}
    {{ block.super }}
    <div class='col-xs-12'>
        <form method='post' action='.' class='form'>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                {% buttons_menu %}
                    {% save_button %}
                    {% dont_save_button 'customer_index' company.id %}
                {% endbuttons_menu %}
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
