{% extends 'inventory/l2_item_selected.html' %}
{% load bootstrap3 %}
{% load links %}
{% load test_tag %}

{% block title %}
    {% if batch %}
        Editar {{ batch }}
    {% else %}
        Nuevo Lote
    {% endif %}
- {{ block.super }}{% endblock %}

{% block body %}
    {{ block.super }}
    <div class='col-xs-12'>
        {% if batch %}
            <h1>Editar Lote {{ batch }}</h1>
        {% else %}
            <h1>Nuevo lote del artículo {{ item }}</h1>
        {% endif %}
        <form method='post' action='.' class='form'>
            {% csrf_token %}
            {% captureas after %}{{item.code}} - {% endcaptureas %}
            {% bootstrap_field form.code addon_before=after %}
            {% bootstrap_field form.unit_cost addon_before="$" addon_after="por unidad" %}
            {% bootstrap_field form.acquisition_date %}
            {% buttons %}
                {% buttons_menu %}
                    {% save_button %}
                    {% if batch %}
                        {% dont_save_button 'batch_detail' batch.id %}
                    {% else %}
                        {% dont_save_button 'item_detail' item.id %}
                    {% endif %}
                {% endbuttons_menu %}
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
