{% extends 'inventory/l2_item_selected.html' %}
{% load bootstrap3 %}
{% load links %}

{% block title %}Nuevo Lote - {{ block.super }}{% endblock %}
{% block body %}
    {{ block.super }}
    <div class='col-xs-12'>
        <h1>Nuevo lote del artículo {{ item }}</h1>
        <form method='post' action='.' class='form'>
            {% csrf_token %}
            {% bootstrap_field form.code addon_before=item.code %}
            {% bootstrap_field form.unit_cost addon_before="$" addon_after="por unidad" %}
            {% bootstrap_field form.date %}
            {% buttons %}
                {% buttons_menu %}
                    {% save_button %}
                    {% dont_save_button 'item_detail' item.id %}
                {% endbuttons_menu %}
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
