{% extends 'inventory/l1_company_selected.html' %}

{% load bootstrap3 %}
{% load decimal_format %}
{% load links %}

{% block title %}{{ block.super }}{% endblock %}

{% block body %}
    {{ block.super }}

    {% include 'company_accounts/company_brand_info.html' with app_text_name='Inventario' %}


        <div class='col-xs-12'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Operaciones</h3>
                </div>
                <div class="panel-body">
                    {% main_menu_button 'Poner Artículo en Venta' 'item_batch_sku_create' company.id %}
                    {% main_menu_button 'Poner Servicio en Venta' 'service_batch_sku_create' company.id %}
                    {% main_menu_button 'Artículos en Venta' 'item_index' company.id %}
                </div>
            </div>
        </div>

        <div class='col-xs-12'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Inventarios</h3>
                </div>
                <div class="panel-body">
                    {% for establecimiento in company.establecimientos %}
                        <a href='{% url 'sku_establecimiento_index' establecimiento.id %}'
                           class='btn btn-default btn-lg col-xs-6 col-sm-4'>Inventario en establecimiento {{ establecimiento }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class='col-xs-12 hidden'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Operaciones</h3>
                </div>
                <div class="panel-body">
                    <a href='{#% url 'inventory_index' company.id %#}'
                       class='btn btn-default btn-lg col-xs-6 col-sm-4'>Transferir Mercadería</a>
                </div>
            </div>
        </div>


{% endblock %}
