{% extends 'inventory/l2_item_selected.html' %}
{% load bootstrap3 %}

{% block title %}Eliminar item {{ item.sku }} - {{ block.super }}{% endblock %}
{% block body %}
    {{ block.super }}
    <form action="" method="post" class='form'>
        {% csrf_token %}
        <p>¿Está seguro de querer eliminar "{{ item }}"?</p>
        {% buttons %}
            {% buttons_menu %}
                {% delete_button %}
                {% dont_delete_button 'item_detail' item.id %}
            {% endbuttons_menu %}
        {% endbuttons %}
    </form>
{% endblock %}
