{% extends 'inventory/l1_company_selected.html' %}
{% load bootstrap3 %}
{% load links %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href='{% url 'item_index' company.id %}'>Artículos</a></li>
{% endblock %}

{% block title %}Nuevo Artículo - {{ block.super }}{% endblock %}
{% block body %}
    {{ block.super }}
    <div class='col-xs-12'>
        <h1>Nuevo artículo</h1>
        <form method='post' action='.' class='form'>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                {% buttons_menu %}
                    {% save_button %}
                    {% dont_save_button 'item_index' company.id %}
                {% endbuttons_menu %}
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
