{% extends 'inventory/l2_item_selected.html' %}
{% load bootstrap3 %}
{% load decimal_format %}
{% load links %}

{% block body %}
{{ block.super }}
<div class='col-xs-12'>
    <h1>Artículo {{ item }}</h1>
    <table class='table table-hover'>
        <tr>
            <th>Código</th> <td>{{ item.code }}</td>
        </tr>
        <tr>
            <th>Nombre</th> <td>{{ item.name }}</td>
        </tr>
        <tr>
            <th>Tipo</th> <td>{{ item.tipo }}</td>
        </tr>
        <tr>
            <th>Descripción</th> <td>{{ item.description }}</td>
        </tr>
        {% if item.ice %}
        <tr>
            <th>ICE</th> <td>{{ item.ice }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>IVA</th> <td>{{ item.iva }}</td>
        </tr>
    </table>
    {% buttons %}
        {% buttons_menu %}
            {% edit_button "item_update" item.id %}
        {% endbuttons_menu %}
    {% endbuttons %}

    <h2>Lotes</h2>
    <table class='table table-hover'>
        <thead>
            <tr>
                <th>Código</th>
                <th>Fecha</th>
                <th>Compra</th>
                <th>Coste</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for batch in item.batches %}
                <tr>
                    <td> {{ batch.code }} </td>
                    <td> {{ batch.acquisition_date }} </td>
                    <td>
                        {% if batch.purchase %} 
                        <a href='{% url "purchase_detail" batch.purchase.id %}'>{{ batch.purchase }}</a>
                        {% else %}
                        No hay compra asociada
                        {% endif %}
                    </td>
                    <td> {{ batch.unit_cost | money_2d }} </td>
                    <td> {% fullwidth_button 'Detalle' 'batch_detail' batch.id %} </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan='4'>No hay lotes</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% buttons %}
        {% buttons_menu %}
            {% primary_button "Nuevo Lote" "batch_create" item.id %}
            {% back_button "item_index" company.id %}
        {% endbuttons_menu %}
    {% endbuttons %}
</div>
{% endblock %}
