{% extends 'inventory/l1_company_selected.html' %}
{% load bootstrap3 %}
{% load links %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href='{% url 'item_index' company.id %}'>Artículos</a></li>
{% endblock %}

{% block body %}
    {{ block.super }}
    <div class='col-xs-12'>
    {% include 'inventory/item/item_list_table.html' %}
    {% buttons %}
        {% buttons_menu %}
            {% button "Nuevo Artículo" 'item_create' company.id %}
        {% endbuttons_menu %}
    {% endbuttons %}
    </div>
{% endblock %}
