{% extends 'inventory/l2_establecimiento_selected.html' %}
{% load bootstrap3 %}
{% load decimal_format %}
{% load links %}

{% block body %}
{{ block.super }}
<div class='col-xs-12'>
    <h1>Inventario en establecimiento {{ establecimiento }}</h1>
    <table class='table table-hover'>
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Precio de Venta</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for sku in sku_list %}
                <tr>
                    <td> {{ sku.code }} </td>
                    <td> {{ sku.batch.item.name }} </td>
                    <td class='{{ sku.css_warnings.qty }}'>
                        {{ sku | }} </td>
                    <td class='{{ sku.css_warnings.margin }}'> {{ sku.unit_price | money_2d }} (margen: {{ sku.margin_percent | decimals:0 }}%)</td>
                    <td> {% fullwidth_button 'Detalle' 'sku_detail' sku.id %} </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan='5'>No hay SKUs</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% buttons %}
        {% buttons_menu %}
            {% back_button "inventory_main_menu" company.id %}
        {% endbuttons_menu %}
    {% endbuttons %}

</div>
{% endblock %}
