{% extends 'company_accounts/l1_company_selected.html' %}
{% load bootstrap3 %}
{% load links %}

{% block title %}Editar Detalles de la Empresa - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href='{% url 'company_accounts:company_profile' company.id %}'>Perfil</a></li>
    <li><a href='{% url 'company_accounts:company_profile_update' company.id %}'>Editar</a></li>
{% endblock %}

{% block body %}
    {{ block.super }}
<div class='col-xs-12'>
    <h1>Editar Detalles de la Empresa</h1>
    <form method='post' action='.' class='form' enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            {% buttons_menu %}
                {% save_button %}
                {% dont_save_button 'company_accounts:company_profile' company.id %}
            {% endbuttons_menu %}
        {% endbuttons %}
    </form>
</div>
{% endblock %}
