{% extends 'company_accounts/l1_company_selected.html' %}

{% load bootstrap3 %}
{% load decimal_format %}
{% load links %}

{% block title %}Subir Certificado de Firma - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href='{% url 'company_accounts:company_profile' company.id %}'>Perfil</a></li>
    <li><a href='{% url 'company_accounts:company_upload_cert' company.id %}'>Subir Certificado de Firma</a></li>
{% endblock %}

{% block body %}
    {{ block.super }}
    <div class='col-xs-12 even-section'>
        <h1>Subir Certificado de Firma</h1>
        <p>Para poder emitir comprobantes electrónicos válidos y aceptados por el SRI, deben estar firmados con su certificado electrónico. Puede obtener dicho certificado en el Banco Central del Ecuador.
        </p>
        <form class='form col-xs-12 col-xs-offest-0 col-lg-offset-2 col-lg-8' action='.' method='post' enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                {% buttons_menu %}
                    {% submit_button 'Cargar certificado' %}
                    {% back_button "company_accounts:company_profile" company.id %}
                {% endbuttons_menu %}
            {% endbuttons %}
        </form>
    </div>

{% endblock %}
