{% extends 'company_accounts/l1_company_selected.html' %}

{% load bootstrap3 %}
{% load decimal_format %}

{% block title %}Detalles de la Empresa - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href='{% url 'company_accounts:company_profile' company.id %}'>Perfil</a></li>
{% endblock %}

{% block body %}
    {{ block.super }}
    <div class='col-xs-12 even-section'>
        <div class='col-xs-12 col-lg-6'>
            <img src='{{company.logo}}' alt='Logotipo' />
        </div>
        <div class='col-xs-12 col-lg-6'>
            <h1>{{company.nombre_comercial}}</h1>
            <h4>{{company.razon_social}}</h4>
            <h3>RUC: {{company.ruc}}</h3>
            <h3>Dirección Matriz</h3>
            <h4>{{company.direccion_matriz}}</h4>
            <a href='{% url 'company_accounts:company_profile_update' company.id %}' class='btn btn-primary form-control'>Editar detalles</a>
        </div>
        <div class='col-xs-12 spaced-top'>
            <table class='table table-hover text-center valign-bottom table-vertical-center'>
                <tr>
                    <th>Certificado de Firma Electrónica</th>
                    {% if company.can_sign %}
                        <td class='bg-success'>Certificado de firma correcto</td>
                        <td><a href='{% url 'company_accounts:company_upload_cert' company.id %}' class='btn btn-default'>Subir nuevo certificado</a></td>
                    {% else %}
                        <td class='bg-danger text-danger'>No hay certificado de firma</td>
                        <td><a href='{% url 'company_accounts:company_upload_cert' company.id %}' class='btn btn-primary'>Subir certificado</a></td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Plan de DSSTI Facturas</th>
                    <td>{{ company.licence }}</td>
                    <td><a href='{% url 'company_accounts:company_profile_select_plan' company.id %}' class='btn btn-default'>Elegir Plan</a></td>
                </tr>
                {% if company.licence.licence != 'demo' %}
                <tr>
                    <th>Validez de la licencia</th>
                    {% if company.licence.expired %}
                        <td class='bg-danger text-danger'>
                            Licencia caducada
                        </td>
                        <td>
                            {# FIXME Payment options & payment #}
                        </td>
                    {% else %}
                        <td class='bg-success'>
                            Licencia válida hasta {{ company.licence.expiration }} ({{ company.licence.days_to_expiration}} días)
                        </td>
                    {% endif %}
                </tr>
                {% endif %}
                <tr class='hidden'>
                    <th>Control de Contador</th><td>{# FIXME Mostrar estado #}</td><td>{# FIXME Boton 'agregar contador' #}</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}
