{% extends 'company_accounts/l1_company_selected.html' %}

{% load bootstrap3 %}
{% load decimal_format %}

{% block title %}{{ block.super }}{% endblock %}

{% block body %}
    {{ block.super }}

    <div class='col-xs-12'>
        {% for issue in company.issues %}
            <div class='alert alert-{{ issue.level }}' role='alert'>
                <table style='width: 100%'>
                    <tr>
                        <td>
                {{ issue.message }}
                        </td><td class='text-right'>
                <a href='{{ issue.url }}'
                   class='btn btn-{{ issue.level }}'
                   >{{ issue.button_text }}</a>
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>

    <div class='col-xs-12 even-section'>
        <div class='col-xs-12 col-lg-6 text-center' style='padding:20px'>
            {% if company.logo %}
                <img src='{{company.logo}}' alt='{{company.nombre_comercial}}' />
            {% else %}
                <img src='/static/img/logo_141x132.png' alt=''/>
            {% endif %}
        </div>
        <div class='col-xs-12 col-lg-6'>
            <h1>{{company.nombre_comercial}}</h1>
            <h4>{{company.razon_social}}</h4>
            <h3>RUC: {{company.ruc}}</h3>
            <h3>Dirección Matriz</h3>
            <h4>{{company.direccion_matriz}}</h4>
        </div>

        <div class='col-xs-12'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Aplicaciones</h3>
                </div>
                <div class="panel-body">
                    <a href='{% url 'company_index' company.id %}'
                       class='btn btn-default btn-lg col-xs-6 col-sm-4'>Facturación</a>
                    <a href='{% url 'accounts_receivable_index' company.id %}'
                       class='btn btn-default btn-lg col-xs-6 col-sm-4'>Cuentas por Cobrar</a>
                </div>
            </div>
        </div>

        <div class='col-xs-12'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Configuración</h3>
                </div>
                <div class="panel-body">
                    <a href='{% url 'company_accounts:company_profile' company.id %}'
                       class='btn btn-default btn-lg col-xs-6 col-sm-4'>Empresa</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
