{% extends 'base.html' %}
{% load bootstrap3 %}
{% load links %}

{% block title %}Crear empresa - {{ block.super }}{% endblock %}
{% block body_block %}
    {{ block.super }}
    <div class='col-xs-12 even-section'>
        <h1>Datos de la Empresa</h1>
        <p>Usted no tiene ninguna empresa registrada. Por favor, describa su empresa:</p>
        <form method='post' action='.' class='form'>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                {% buttons_menu %}
                    {% save_button %}
                {% endbuttons_menu %}
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
