{% extends 'company_accounts/l1_company_selected.html' %}

{% load bootstrap3 %}
{% load decimal_format %}
{% load links %}

{% block title %}Pagar Licencia - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href='{% url 'company_accounts:company_profile' company.id %}'>Perfil</a></li>
    <li><a href='{% url 'company_accounts:pay_licence' company.id %}'>Pagar Licencia de DSSTI Facturas</a></li>
{% endblock %}

{% block body %}
    {{ block.super }}
    <div class='col-xs-12 even-section'>
        <h1>Pagar Licencia</h1>
        <h4>Usted ha seleccionado el plan <strong>{{ licence_name | capfirst }}</strong></h4>
        <h4>El coste de su licencia es ${{ price_to_pay }} por mes (IVA incluído)</h4>
        {% if not company.can_sign %}
            <div class='alert alert-warning' role='alert'>
                <div class='col-xs-12'>
                No hay un certificado de firma.<br/> No podrá emitir facturas hasta que no adquiera e instale un certificado de firma electrónica, aunque pague la licencia.
                </div>
                {% buttons %}
                    {% buttons_menu %}
                        {% primary_button 'Ya tengo un certificado de firma' 'company_accounts:company_upload_cert' company.id %}

                        {% button 'Obtener certificado de firma' 'info_cert' %}
                    {% endbuttons_menu %}
                {% endbuttons %}
            </div>
        {% endif %}
        <h3>Formas de pago</h3>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion"
                   href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Western Union
                </a>
              </h4>
            </div>
            <div id="collapseOne"
                 class="panel-collapse collapse"
                 role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <p>Pague usando Western Union. Para ello, envíe ${{ price_to_pay }} en cualquier oficina de Western Union a</p>
                <div class='col-xs-12 col-lg-8 col-lg-offset-2'>
                    <p>Nombre: <strong>Javier Casas Velasco</strong></p>
                    <p>Lugar: <strong>Quito, Ecuador</strong></p>
                </div>
                <p class='col-xs-12'>Cuando lo haya enviado, introduzca los detalles aquí:</p>
                <form action='.' method='post' class='form col-xs-12 col-lg-8 col-lg-offset-2'>
                    {% csrf_token %}
                    <input type='hidden' name='payment_method' value='western_union' />
                    <div class='form-input'>
                        <label for='sender_name'>Nombres y Apellidos de la persona que envía el pago</label>
                        <input type='text' name='sender_name' class='form-control'/>
                    </div>
                    <div class='form-input'>
                        <label for='sender_code'>Código de Transferencia (MTCN)</label>
                        <input type='text' name='sender_code' class='form-control'/>
                    </div>
                    {% buttons %}
                        {% buttons_menu %}
                            {% submit_button 'Confirmar Pago' %}
                            {% button 'Cancelar' 'company_accounts:company_profile' company.id%}
                        {% endbuttons_menu %}
                    {% endbuttons %}
                </form>
                <p class='col-xs-12'>Emitiremos su factura en cuanto comprobemos el pago de su licencia.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default hidden">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion"
                   href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Ingreso Bancario
                </a>
              </h4>
            </div>
            <div id="collapseTwo"
                 class="panel-collapse collapse"
                 role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <p>Puede pagar haciendo un ingreso bancario.</p>
              </div>
            </div>
          </div>
        </div>

</div>
{% endblock %}
