{% extends 'company_accounts/l2_establecimiento_selected.html' %}
{% load bootstrap3 %}
{% load links %}

{% block title %}Editar Punto de Emisión - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href='{% url 'company_accounts:establecimiento_update' establecimiento.id %}'>
           Editar</a></li>
{% endblock %}

{% block body %}
    {{ block.super }}
<div class='col-xs-12'>
    <form method='post' action='.' class='form'>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            {% buttons_menu %}
                {% save_button %}
                {% dont_save_button 'company_accounts:establecimiento_detail' establecimiento.id %}
            {% endbuttons_menu %}
        {% endbuttons %}
    </form>
</div>
{% endblock %}
