{% extends 'company_accounts/l3_punto_emision_selected.html' %}

{% load bootstrap3 %}
{% load decimal_format %}
{% load links %}

{% block body %}
  {{ block.super }}
  <div class='col-xs-12 even-section'>
    <h1>Punto de Emisión '{{ punto_emision.descripcion }}' en Establecimiento {{ establecimiento.descripcion }}</h1>
    <table class='table table-hover'>
      <tbody>
        <tr><th>Descripción</th><td>{{ punto_emision.descripcion }}</td></tr>
        <tr><th>Código</th><td>{{ punto_emision.codigo }}</td></tr>
        <tr><th>Ambiente SRI</th><td>{{ punto_emision.ambiente_sri.capitalize }}</td></tr>
        <tr><th>Siguiente Secuencial de Pruebas</th>
            <td>{{ punto_emision.siguiente_secuencial_pruebas|stringformat:'09d' }}</td></tr>
        <tr><th>Siguiente Secuencial de Producción</th>
            <td>{{ punto_emision.siguiente_secuencial_produccion|stringformat:'09d' }}</td></tr>
      </tbody>
    </table>
    {% buttons %}
        {% buttons_menu %}
            {% edit_button 'company_accounts:punto_emision_update' punto_emision.id %}
            {% back_button 'company_accounts:company_structure' company.id %}
        {% endbuttons_menu %}
    {% endbuttons %}
  </div>
{% endblock %}
