{% load decimal_format %}
{% load future %}
{% load links %}

{% if proformabill_list %}
    <table class='table table-hover'>
        <thead><tr>
          <th>Identificador</th>
          <th>Cliente</th>
          <th>Total</th>
          <th></th>
        </tr></thead>
        <tbody>
          {% for proformabill in proformabill_list %}
            <tr>
              <td>{{ proformabill.number }}</td>
              <td>{% firstof proformabill.issued_to '<span class="text-danger">No hay cliente establecido</span>' %}</td>
              <td>{{ proformabill.total|price2d }}</td>
              <td>
                {% object_details_button proformabill %}
              </td>
            </tr>
          {% endfor %}
          {% if show_all_items_button %}
              <tr>
                  <td colspan='10'>
                      {% fullwidth_button 'Ver todas las facturas' "proformabill_company_index" company.id %}
                  </td>
              </tr>
          {% endif %}
        </tbody>
    </table>
{% else %}
    No hay facturas
{% endif %}
