{% extends 'purchases/l2_purchase_selected.html' %}
{% load bootstrap3 %}
{% load links %}
{% load decimal_format %}

{% block body %}
{{ block.super }}
<div class='col-xs-12'>
    <h1>Detalle de la compra {{ purchase }} </h1>
    <table class='table table-hover'>
        <tr>
            <th>Vendedor</th><td>({{ purchase.seller.identificacion }}) {% firstof purchase.seller.nombre_comercial purchase.seller.razon_social %}</td>
        </tr>
        <tr>
            <th>Número de comprobante</th><td>{{ purchase.number }}</td>
        </tr>
        <tr>
            <th>Fecha</th><td>{{ purchase.date }}</td>
        </tr>
        <tr>
            <th>Total</th><td>{{ purchase.total | money_2d }}</td>
        </tr>
    </table>
    <h2>Inventario Asociado</h2>
    <table class='table table-hover'>
        <thead>
            <tr>
                <th>Código</th>
                <th>Artículo</th>
                <th>Establecimiento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for batch in purchase.batches %}
                {% for sku in batch.skus %}
                    <tr>
                        <td>{{ sku.code }}</td>
                        <td>{{ sku }}</td>
                        <td>{{ sku.establecimiento }}</td>
                        <td>{% fullwidth_button 'Detalle' 'sku_detail' sku.id %}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    {% buttons %}
        {% buttons_menu %}
            {#% button "Hacer retención" "purchase_generate_retention" purchase.id %#}
            {% if not purchase.closed %}
                {% button "Añadir artículos al Inventario" "purchase_add_items_to_inventory_xml" purchase.id %}
                {% button "Cerrar compra" "purchase_finish" purchase.id %}
            {% endif %}
        {% endbuttons_menu %}
    {% endbuttons %}
</div>
{% endblock %}
