{% extends 'purchases/l2_purchase_selected.html' %}
{% load bootstrap3 %}
{% load links %}
{% load decimal_format %}

{% block body %}
{{ block.super }}
<div class='col-xs-12'>
    <h1>Añadir artículos en compra {{ purchase.number }} al inventario</h1>
    <form action='.' method='post' class='form'>
        {% csrf_token %}
        <div class='form-group'>
            <label for='establecimiento'>Establecimiento</label>
            <select name='establecimiento' class='form-control'>
                {% for establecimiento in establecimientos %}
                 <option value='{{ establecimiento.id }}'>{{ establecimiento.descripcion }}</option>
                {% endfor %}
            </select>
        </div>

        {% for item in detalles %}
            <div class='col-xs-12 form-group' id='div-{{ forloop.counter0 }}'>
                <label class='col-xs-12'>{{ item.cantidad }}x {{ item.descripcion }}</label>
                <div class='col-xs-12 col-lg-5'>
                        <strong>Precio Unitario:</strong> {{ item.precioUnitario }} <br/>
                        <strong>Descuento:</strong> {{ item.descuento }}<br/>
                        <strong>Subtotal:</strong> {{ item.precioTotalSinImpuesto }}<br/>
                        {% for impuesto in item.impuestos %}
                            <strong>
                                {% if impuesto.codigo == '2' %} IVA
                                {% elif impuesto.codigo == '3' %} ICE
                                {% else %} Impuesto {{ impuesto.codigo }}
                                {% endif %}
                                {{ impuesto.tarifa }}%:
                            </strong>
                            {{ impuesto.valor }}<br/>
                        {% endfor %}
                </div>
                <div class='col-xs-1 col-lg-1 text-center'>
                    <span class='glyphicon glyphicon-chevron-right'></span>
                </div>
                <div class='col-xs-11 col-lg-6'>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" name="action-{{ forloop.counter0 }}"
                                   id='select-{{ forloop.counter0 }}-noop'
                                   autocomplete="off" checked value='noop'> No Agregar
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="action-{{ forloop.counter0 }}"
                                   id='select-{{ forloop.counter0 }}-create'
                                   autocomplete="off" value='create'> Crear Nuevo Artículo
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="action-{{ forloop.counter0 }}"
                                   id='select-{{ forloop.counter0 }}-add'
                                   autocomplete="off" value='add'> Agregar a Artículo Existente
                        </label>
                    </div>

                    <input id='search_item-{{ forloop.counter0 }}' type="text"
                           class="dropdown-toggle form-control col-xs-12"
                           style='display: none' placeholder='Seleccionar Artículo'
                           value='' />
                    <ul class="dropdown-menu col-xs-12"></ul>
                    <input type='hidden' name='selected-item-{{ forloop.counter0 }}' value='' />

                    <script>
function update_{{ forloop.counter0 }} () {
    if($("#select-{{ forloop.counter0 }}-add").prop("checked")) {
        $('#search_item-{{ forloop.counter0 }}').show();
    } else {
        $('#search_item-{{ forloop.counter0 }}').hide();
    }
    if($("#select-{{ forloop.counter0 }}-noop").prop("checked")) {
        $('#div-{{ forloop.counter0 }}').removeClass('bg-success');
        $('#div-{{ forloop.counter0 }}').addClass('bg-danger');
    } else {
        $('#div-{{ forloop.counter0 }}').addClass('bg-success');
        $('#div-{{ forloop.counter0 }}').removeClass('bg-danger');
    }
}
$('input[name=action-{{ forloop.counter0 }}]').change(function () {
    update_{{ forloop.counter0 }} ();
});

update_{{ forloop.counter0 }} ();

prepare_search_box({
    selector: '#search_item-{{ forloop.counter0 }}',
    gen_name_fn: function (item) {
                    console.log(item);
                    return item.code + " - " + item.name;
                 },
    callback_fn: function (item) {
                    $('input[name=selected-item-{{ forloop.counter0 }}]').prop("value", item.id);
                    $('input[name=selected-item-{{ forloop.counter0 }}] + ul').hide();
                    $('#search_item-{{ forloop.counter0 }}').val(item.code + " - " + item.name);
                 },
    data_url: '{% url 'item_index_json' company.id %}',
    fields_to_search: ['name', 'code', 'distributor_code', 'description'],
});
                    </script>
                </div>
            </div>
            <div class='col-xs-12 spaced-bottom'></div>
        {% endfor %}
    </form>
    {% buttons %}
        {% buttons_menu %}
            {% if not purchase.closed %}
                {% submit_button 'Añadir artículos seleccionados al inventario' %}
            {% endif %}
            {% back_button 'purchase_detail' purchase.id %}
        {% endbuttons_menu %}
    {% endbuttons %}
</div>
{% endblock %}
